<div class="container my-5 z-depth-1" id="about">

    <!--Section: Content-->
    <section class="dark-grey-text">
  
      <div class="row pr-lg-5">
        <div class="col-md-7 mb-4">
  
          <div class="view">
            <img src="http://127.0.0.1:8000/media/course_images/aboutUp.png" class="img-fluid" alt="smaple image">
          </div>
  
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <div>
            <h2 class="font-weight-bold mb-4">About Us</h2>
              <p>
                In today's digital age, TechEduVerse offers free, high-quality online courses powered by Python and Django, aiming to democratize education globally. Our platform breaks financial barriers, providing diverse courses across various fields with engaging content and a user-friendly interface. By fostering a culture of accessible learning, we envision a world where knowledge is freely shared and individuals are empowered to grow and succeed together.
              </p>
    
          </div>
        </div>
      </div>
  
    </section>
    <!--Section: Content-->
  
  
  </div>