<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'courses_list' %}">
      <img src="http://127.0.0.1:8000/media/course_images/Fav-Ico-no-background%20.png" alt="" height="20px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#availcategories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#availCourse">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#yourCourse">Your Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>
      </ul>
    </div>
  </nav>